<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="row footer-row">
    <div class="sm-4 footer-el">
      <ul>
        <li><a>API Reference</a></li>
        <li><a>Documetation</a></li>
        <li><a>Fork on GitHub</a></li>
      </ul>
    </div>
    <div class="sm-4 footer-el footer-nav-container">
      <ul class="footer-nav-ul">
        <li><a class="footer-nav-link">Home</a></li>
        <li><a class="footer-nav-link">About</a></li>
        <li><a class="footer-nav-link">Use Case</a></li>
      </ul>
    </div>
    <div class="sm-4 footer-el">
      <app-logo></app-logo>
      <div class="font-bold">Tone Analyzer</div>
    </div>
  </div>
  <div class="container text-center">
    <small
      >Copyright &copy; <span class="font-bold">Tone Analyzer</span>
    </small>
  </div>
</footer>
