<div class="sample-usecase-container">
  <div class="sample-usecase-title font-bold">Sample Use Case</div>
  <div class="sample-usecase-info">
    Choose an example to learn how you can adjust the tone of your content to
    change people's perceptions, or improve its effectiveness.
    <br />
    <a class="learn-more font-italic">Learn more...</a>
  </div>
  <div class="sample-usecase-form">
    <div class="choose-text font-bold">Choose text:</div>
    <div class="sample-usecase-choice">
      <div
        class="sample-usecase-choice-self custom-btn custom-green-btn custom-round-btn"
        [ngClass]="{ 'd-none': sampleUseCaseTitle === selectedUseCaseKey }"
        *ngFor="let sampleUseCaseTitle of ObjectKeys(sampleUseCases)"
        (click)="selectUseCase(sampleUseCaseTitle)"
      >
        {{ sampleUseCaseTitle }}
      </div>
    </div>
    <div class="sample-usecase-form-self">
      <div class="selected-use-case font-bold">
        {{ selectedUseCaseKey }}
      </div>
      <textarea
        name="sample-usecase-textarea"
        id="sample-usecase-textarea"
        cols="30"
        rows="10"
        >{{ selectedUseCaseText }}</textarea
      >
      <button
        class="submit-sample-usecase custom-btn custom-green-btn font-bold"
      >
        Analyze
      </button>
    </div>
  </div>
</div>
