<div class="sample-usecase-container">
  <div class="sample-usecase-title">Sample Use Case</div>
  <div class="sample-usecase-info">
    Choose an example to learn how you can adjust the tone of your content to
    change people's perceptions, or improve its effectiveness. Learn more .
  </div>
  <div class="sample-usecase-form">
    <div class="sample-usecase-choice">
      <div class="sample-usecase-choice-self">Tweets</div>
      <div class="sample-usecase-choice-self">Online Review</div>
      <div class="sample-usecase-choice-self">Email message</div>
      <div class="sample-usecase-choice-self">Product Review in French</div>
      <div class="sample-usecase-choice-self">Yout own text</div>
    </div>
    <div class="sample-usecase-form-self">
      <textarea
        name="sample-usecase-textarea"
        id="sample-usecase-textarea"
        cols="30"
        rows="10"
      ></textarea>
    </div>
  </div>
</div>
