<div id="home-header-container" class="home-header-container">
  <div class="header-about-container">
    <div class="header-about-title font-bold">Tone Analyzer</div>
    <div class="header-about-text">
      This service uses linguistic analysis to detect joy, fear, sadness, anger,
      analytical, confident and tentative tones found in text.
    </div>
    <div class="header-button-container">
      <button class="header-button go-to-usecase custom-btn custom-green-btn">
        Use Cases
      </button>
    </div>
    <div class="right-triangle-container">
      <div class="rigth-triangle-text font-bold">Tone anlyzer</div>
      <img src="../../../assets/images/chat-bulbe.png" alt="chat-bulbe" />
    </div>
  </div>
</div>
<div class="home-content-container">
  <app-sample-usecase></app-sample-usecase>
  <div class="separator font-bold">
    Next Up: Build your own app
  </div>
  <div class="row home-bottom-card-container">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">API Reference</h5>
          <p class="card-text">
            <span class="card-context">API Reference:</span> Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Eius harum repellat
            perferendis optio iste magni consequatur consequuntur nostrum,
            tenetur fugiat, quam, dolorum quisquam! Dolores, quos facere iure ea
            facilis a.
          </p>
          <a href="#" class="btn btn-primary">API Reference</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Documentation</h5>
          <p class="card-text">
            <span class="card-context">Documentation:</span> Lorem ipsum dolor
            sit amet consectetur adipisicing elit. In eligendi impedit aliquam
            voluptatibus ipsum amet? Consequatur sed temporibus soluta modi
            minima autem facere necessitatibus, asperiores ea, tempore qui,
            delectus doloremque.
          </p>
          <a href="#" class="btn btn-primary">Documentation</a>
        </div>
      </div>
    </div>
  </div>
</div>
